
li.menu-list:hover {
    cursor: hand;
    cursor: pointer;
    background-color: #aab6f4;
}

div.app_logo {
    height: 200px;
    background-image:url(assets/img/logo_header.png);
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
}

.container-fluid{
    padding: 15px;
}


td.conv-bookmark{
    border: solid 1px cornflowerblue;
    background-color: white;
}

button.btn-conv-bookmark{
    background-color: white;
}

button.btn-conv-bookmark:hover{
    background-color: gainsboro;
}


button.btn-conv-bookmark:focus{
    background-color: cornflowerblue;
    border: none;
}

.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

