div.my-chat-tab {
    display: inline;
    cursor: hand;
    cursor: pointer;
    border: solid 1px navy;

}

div.my-chat-tab:hover {
    background-color: #aab6f4;
}

div.my-chat-tab:active {
    background-color: #f42b47;
}

button.my-chat-tab {

}

.user-link {
cursor:pointer;
    cursor: hand;
}
