div.my-user {
    margin-top: 20px;
    vertical-align: middle;
    padding-left: 10%;
}

.my-user-nick {
    color: lightskyblue;
}

.my-user-status {
    color: #939393;
}

.my-user-status:hover {
    cursor: pointer;
    cursor: hand;
    color: lightskyblue;
    text-decoration: solid;
}

.my-user-city {
    color: #cccccc;
}

.my-user-change {

}
