<div class="row" >
<noscript>Musisz włączyć obsługę javasriptu aby korzystać z portalu :(</noscript>
    <div class="col-md-12 text-center" >
        <p *ngIf="!response">
            Aktywowywuje Twoje konto.....
        </p>
        <p *ngIf="response">
            Cześć!  {{response}}
        </p>

    </div>



</div>