<div class="well">

    <div class="panel-collapse collapse in">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let report of reports">

                {{report.reason}}
                {{report.content}}
                <a href="#" (click)="banUser(report, banUserModal)">zbanuj</a>
                <a href="#" (click)="consumeReport(report)">ignoruj</a>

            </li>
        </ul>
    </div>
</div>


<modal #banUserModal
       [hideCloseButton]="true"
       [closeOnEscape]="true"
       [closeOnOutsideClick]="true"
       modalClass="modal-sm">

    <modal-header>
        <h1>zbanuj</h1>
    </modal-header>
    <modal-content>
        <div *ngIf="clickedReport"  class="text-center">

            <p>Zgłoszona wiadomość: </p>

            <h4>
                {{clickedReport.user.nick}}

            </h4>
            <p>"{{clickedReport.messageContent}}"</p>




            <div class="form-group">
                <p>Powód: </p>
                <input type="text" class="form-control" required id="reportReason" [(ngModel)] = "banReason" placeholder="powód" autofocus>
                <p>do kiedy: </p>
                <input type="datetime" max='9998-12-10' class="form-control" required name="endBanDate" id="endBanDate" [(ngModel)] = "endBanDate" placeholder="koniec bana">
                <button (click)="onBanSubmit(clickedReport,banUserModal)" class="animatedButton"><span>zbanuj</span></button>
            </div>

            <div *ngIf="modalError">
                <p>{{modalError}}</p>
            </div>
        </div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="closeModal(banUserModal)">zamknij</button>
    </modal-footer>
</modal>