<div class="row">
    <div class="col-md-3" >

        <div class="panel panel-default">
            <div class="panel-collapse collapse in">
                <ul class="list-group">
                    <li class="list-group-item menu-list" (click)="navigateRooms()">
                        pokoje
                    </li>
                    <li class="list-group-item menu-list" (click)="navigateReports()">
                        zgloszenia
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <div class="col-md-9">
        <router-outlet name="admin-router"></router-outlet>
    </div>
</div>