<div class="well">

    <form>
        <div class="form-group">
            <input type="text" class="form-control" required name = "addRoomName" id="addRoomName" [(ngModel)] = "addNewRoomName" placeholder="nazwa nowego pokoju" autofocus>
            <button (click)="addRoom()" class="animatedButton"><span>dodaj</span></button>
        </div>
    </form>

    <div class="panel-collapse collapse in">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let room of rooms">
                {{room.name}}
                <a href="#" (click)="editRoom(room, editRoomModal)">edytuj</a>
                <a href="#" data-toggle="tab" (click)="editRoom(room, deleteRoomModal)">&times;</a>
            </li>
        </ul>
    </div>
</div>

<modal #editRoomModal
       [hideCloseButton]="true"
       [closeOnEscape]="true"
       [closeOnOutsideClick]="true"
       modalClass="modal-sm">

    <modal-header>
        <div *ngIf="clickedRoom" class="text-center">
            <h1>{{clickedRoom.name}}</h1>
        </div>
    </modal-header>
    <modal-content>
        <div *ngIf="clickedRoom"  class="text-center">
            <div class="form-group">

                <input type="text" class="form-control" required id="newRoomName" [(ngModel)] = "newRoomName" placeholder="nowa nazwa" autofocus>
                <button (click)="onEditSubmit(editRoomModal)" class="animatedButton"><span>zapisz</span></button>
            </div>

            <div *ngIf="modalError">
                <p>{{modalError}}</p>
            </div>
        </div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="closeModal(editRoomModal)">zamknij</button>
    </modal-footer>
</modal>

<modal #deleteRoomModal
       [hideCloseButton]="true"
       [closeOnEscape]="true"
       [closeOnOutsideClick]="true"
       modalClass="modal-sm">

    <modal-header>
        <div *ngIf="clickedRoom" class="text-center">
            <h1>{{clickedRoom.name}}</h1>
        </div>
    </modal-header>
    <modal-content>
        <div *ngIf="clickedRoom"  class="text-center">
            <div class="form-group">
                <p>Jesteś pewien, że chcesz trwale usunąć pokój {{clickedRoom.name}}?</p>
                <button (click)="onDeleteSubmit(deleteRoomModal)" class="animatedButton"><span>usuń</span></button>
            </div>

            <div *ngIf="modalError">
                <p>{{modalError}}</p>
            </div>
        </div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="closeModal(deleteRoomModal)">zamknij</button>
    </modal-footer>
</modal>