<div class="well">
    <div class="form-group">
        <input type="text" class="form-control" required name="nick" id="nick" [(ngModel)] = "userNick" placeholder="nick" disabled>
        <input type="text" class="form-control" required name="reason" id="reason" [(ngModel)] = "reason" placeholder="powód">
        <input type="datetime" max='9998-12-10' class="form-control" required name="endBanDate" id="endBanDate" [(ngModel)] = "end" placeholder="koniec bana">
        <br>
        <button (click)="onSubmit()" class="animatedButton"><span>zbanuj</span></button>
    </div>
</div>