<div class="container-fluid">
        <div class="col-md-5 app_logo"></div>

        <div class="col-md-7">
            <account-panel></account-panel>
        </div>
    <hr>
</div>
<hr>
<div class="container">

    <router-outlet></router-outlet>

</div>



