
<div class="well col-md-6 col-md-offset-3 text-center">
    <input type="password" class="form-control" required name="nick" id="oldPassword" [(ngModel)] = "oldPassword" placeholder="stare haslo">
    <input type="password" class="form-control" required name="nick" id="newPassword" [(ngModel)] = "newPassword" placeholder="nowe haslo">
    <input type="password" class="form-control" name="status" id="newPasswordConfirm" [(ngModel)] = "newPasswordConfirm" placeholder="powtórz haslo ">
    <div class="alert alert-danger" *ngIf="error">
        {{error}}
    </div>
    <span>
        <button (click)="onSubmit()" class="animatedButton"><span>zapisz</span></button>
        <button (click)="onCancel()" class="animatedButton"><span>anuluj</span></button>
    </span>
</div>
