<div class="well" *ngIf="openedConversations && openedConversations.length>0">

    <ul class="nav nav-tabs">
        <li *ngFor="let conversation of openedConversations">
            <div class="my-chat-tab" [ngClass]="{'active': conversation==selectedConversation }">
                <a data-toggle="tab" (click)="select(conversation)">{{conversation.name}}</a>
                <a data-toggle="tab" (click)="unSubscribeRoom(conversation)">&times;</a>
            </div>
        </li>
    </ul>


    <div class="tab-content">
            <div *ngFor="let conversation of openedConversations" id="{{conversation.name}}" class="tab-pane fade" [ngClass]="{'active in': conversation==selectedConversation }">
                <room [conversation]="conversation"></room>
            </div>
    </div>
</div>