<div class="panel-group">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseFriends">Znajomi</a>
            </h4>
        </div>

        <div id="collapseFriends" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item menu-list" *ngFor="let friend of friends">
                    <a data-toggle="tab" (click)="select(friend)">{{friend.name}}</a>
                    <a data-toggle="tab" (click)="deleteFriend(friend)">&times;</a>
                </li>
            </ul>
        </div>

    </div>
</div>