<div class="well text-center">
        <p>Logowanie: </p>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" required name="login" id="login" [(ngModel)] = "login" placeholder="login" autofocus>
            <input type="password" class="form-control" required name="password" id="password" [(ngModel)] = "password" placeholder="password">
            <div class="alert alert-danger" *ngIf="error">
                {{error}}
            </div>
            <button (click)="onSubmit()" class="animatedButton"><span>go</span></button>
            <br>
            <div>
                <a href="" (click)="goRegister()" class="my-form">zarejestruj sie!</a>

        <!--        <a href="" (click)="goForgotPassword()"><span style="white-space: nowrap;">Zapomniałem hasła</span></a>-->
            </div>
        </div>
    </form>
</div>

