

        <div class="col-md-6 ">
            <div class="center-block"><login-anonym></login-anonym></div>
        </div>
        <div class="col-md-6 brd">
            <div class="center-block"><login-user></login-user></div>
        </div>





