<div class="well text-center">
        <p>Dołącz jako anonim:</p>

    <form>
        <div class="form-group">
            <input type="text" class="form-control" required name="login" id="login" [(ngModel)] = "nick" placeholder="nick" autofocus>
            <input type="text" class="form-control" required name="city" id="city" [(ngModel)] = "city" placeholder="miasto">
            data urodzenia:
            <input type="date" max='9998-12-10' class="form-control" required name="brithday" id="birthday" [(ngModel)] = "birthday" placeholder="yyyy-mm-dd">
            <div class="row">
                <label class="radio-inline"><input type="radio" name="sex" [(ngModel)]="sex" [value]="0" [checked]="sex==0">Mężczyzna</label>
                <label class="radio-inline"><input type="radio" name="sex" [(ngModel)]="sex" [value]="1">Kobieta</label>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                {{error}}
            </div>

            <div>
                <div class="checkbox">
                    <label>
                        <input name="ternsAccepted" required type="checkbox" [(ngModel)] = "termsAccepted">Akceptuję <a (click)="termsModal.open();" class="my-form">regulamin</a>
                    </label>
                </div>
            </div>
            <button (click)="onSubmit()" class="animatedButton"><span>go</span></button>
        </div>
    </form>
</div>

<modal #termsModal
       [closeOnEscape]="true"
       [closeOnOutsideClick]="true"
       modalClass="modal-lg modal-sm">
    <modal-header>
        <h1>Regulamin</h1>
    </modal-header>
    <modal-content>
       <p>
           Wersja testowa aplikacji, używasz na własną odpowiedzialność.
       </p>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="termsModal.close()">zamknij</button>
    </modal-footer>
</modal>


