<div class="well text-left my-user" *ngIf="myUser">
    <div class="row">
        <h3 class="my-user-nick">{{myUser.nick}}</h3>
        <div popover="Kliknij aby zmienić"
             [popoverOnHover]="true"
             [popoverCloseOnClickOutside]="true"
             [popoverCloseOnMouseOutside]="false"
             [popoverDisabled]="false"
             [popoverAnimation]="true">
            <h4 class="my-user-status" (click)="myModal.open()">{{myUser.status}}</h4>
        </div>
        <h5 class="my-user-city">{{myUser.city}}, {{myUser.age}}</h5>
        <h6 class="my-user-change">
          <span>
            <a href="" (click)="goToMain()" class="my-form">chatuj</a>
            <a href="" (click)="goToUserSettings()" class="my-form">ustawienia</a>
            <a href="" (click)="goToAdminPanel()" *ngIf="isAdmin" class="my-form">administruj</a>
            <a href="" (click)="logout()" class="my-form">wyloguj</a>
          </span>

        </h6>

    </div>
</div>

<modal #myModal
       [closeOnEscape]="true"
       [closeOnOutsideClick]="true"
       modalClass="modal-lg modal-sm"
       (onClose)="modalStatusOnClose()">
    <modal-header>
        <h1>Status</h1>
    </modal-header>
    <modal-content>
        <div *ngIf="myUser && myUser.userType === 'ANONYM'">
            <span>Aby dodać swój opis musisz założyć konto Panie Anonimie :)</span>
        </div>
        <div *ngIf="myUser && myUser.userType !== 'ANONYM'">
            <input type="text" class="form-control" name="status" id="status" [(ngModel)] = "newStatus" placeholder="Twój status" autofocus>
        </div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="myModal.close()">zamknij</button>
        <button *ngIf="myUser && myUser.userType !== 'ANONYM'" class="btn btn-primary" (click)="modalStatusOnSubmit(); myModal.close();">zapisz</button>
    </modal-footer>
</modal>

