<div class="well text-center">
    <p>Rejestracja: </p>
    <p class="form-label">nick:</p>
    <input type="text" class="form-control"  id="nick" name="nick" [(ngModel)] = "nick" placeholder="nick" autofocus>
    <p class="form-label">email:</p>
    <input type="text" class="form-control" name="email" id="email" [(ngModel)] = "email" placeholder="e-mail">
    <p class="form-label">hasło:</p>
    <input type="password" class="form-control"  name="password" id="password" [(ngModel)] = "password" placeholder="hasło">
    <p class="form-label">powtórz hasło:</p>
    <input type="password" class="form-control"  name="password2" id="password2" [(ngModel)] = "passwordConfirm" placeholder="powtórz hasło">
    <p class="form-label">miasto:</p>
    <input type="text" class="form-control" name="city" id="city" [(ngModel)] = "city" placeholder="miasto">
    <p class="form-label">data urodzenia:</p>
    <input type="date" max='9998-12-10' class="form-control" required name="brithday" id="birthday" [(ngModel)] = "birthday" placeholder="yyyy-mm-dd">

    <div class="row">
        <label class="radio-inline"><input type="radio" name="sex" [(ngModel)]="sex" [value]="0" [checked]="sex==0">Mężczyzna</label>
        <label class="radio-inline"><input type="radio" name="sex" [(ngModel)]="sex" [value]="1">Kobieta</label>
    </div>

    <div class="alert alert-danger" *ngIf="error">
        {{error}}
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" [(ngModel)] = "termsAccepted">Akceptuję <a (click)="registerTermsModal.open();" class="my-form">regulamin</a>
        </label>
    </div>



    <button (click)="onSubmit()" class="animatedButton" [disabled]="buttonDisabled"><span>go</span></button>

</div>

<modal #registerTermsModal
       [closeOnEscape]="true"
       [closeOnOutsideClick]="true"
       modalClass="modal-lg modal-sm">
    <modal-header>
        <h1>Regulamin</h1>
    </modal-header>
    <modal-content>
        <p>
            Wersja testowa aplikacji, używasz na własną odpowiedzialność.
        </p>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="registerTermsModal.close()">zamknij</button>
    </modal-footer>
</modal>

