<div class="panel-group">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapsePublicRoom">Pokoje publiczne</a>
            </h4>
        </div>

        <div id="collapsePublicRoom" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item menu-list" *ngFor="let room of rooms" (click)="select(room)">
                    {{room.name}} {{room.usersCount}}
                </li>
            </ul>
        </div>

</div>
</div>
