<div>
    <div>

        pokój {{conversation.name}}
        <div *ngFor="let msg of messages" >

            <div class="container">
                <h5>
                    <span (click)="onMessageClick(msg, userInteractionModal)" class="user-link" [popover]="userPopover"  [popoverOnHover]="true" (mouseover)='mouseOver(msg)' (mouseleave)="mouseLeave()">{{msg.user.nick}}</span>
                    <small>{{msg.sendDate | date:'shortTime'}}</small>

                </h5>
                <p>{{msg.content}}</p>
            </div>
        </div>
    </div>

    <div>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="msg" name="msg" [(ngModel)] = "newMessage" autocomplete="off" placeholder="Napisz wiadomość...">
            </div>
            <div class="alert alert-danger fade in" *ngIf="error">
                {{error}}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            <button class="animatedButton" (click)="sendMessage()" [disabled]="buttonDisabled"><span>wyślij</span></button>
        </form>
    </div>

</div>


<popover-content #userPopover
[closeOnClickOutside]="true"
(onClose)="onUserInteractionModalClose()">
        <div *ngIf="hoveredUser">
            <h4>{{hoveredUser.status}}</h4>
            <span style="white-space: nowrap;">{{hoveredUser.city}}<span *ngIf="hoveredUser.age && hoveredUser.city">, </span>{{hoveredUser.age}}</span>
        </div>

    <div *ngIf="!hoveredUser">
        loading
    </div>
</popover-content>

<modal #userInteractionModal
       [hideCloseButton]="true"
       [closeOnEscape]="true"
       [closeOnOutsideClick]="true"
       modalClass="modal-sm">

    <modal-header>
        <div *ngIf="!clickedMessage" class="text-center">
            <h1>wczytywanie</h1>
        </div>
        <div *ngIf="clickedMessage" class="text-center">
            <h1>{{clickedMessage.user.nick}}</h1>
        </div>
    </modal-header>
    <modal-content>
        <div *ngIf="clickedMessage" class="text-center">
            <button class="animatedButton" (click)="goPriv(clickedMessage.user, userInteractionModal); "><span>napisz</span></button>

            <div *ngIf="clickedMessage.user.userType != 'ANONYM'">
                <button class="animatedButton" (click)="addFriend(clickedMessage.user, userInteractionModal);"><span>dodaj</span></button>
            </div>

            <button class="animatedButton" (click)="reportMessage(userInteractionModal, userReportModal)"><span>zgłoś</span></button>

            <div *ngIf="isAdmin">
                <button class="animatedButton" (click)="banUser(clickedMessage.user, userInteractionModal)"><span>zbanuj</span></button>
            </div>
            <div *ngIf="modalError">
                <p>{{modalError}}</p>
            </div>
        </div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="closeModal(userInteractionModal)">zamknij</button>
    </modal-footer>
</modal>

<modal #userReportModal
       [hideCloseButton]="true"
       [closeOnEscape]="true"
       [closeOnOutsideClick]="true"
       modalClass="modal-sm">

    <modal-header>
            <h1>zgłoś</h1>
    </modal-header>
    <modal-content>
        <div *ngIf="clickedMessage" class="text-center">

            <div class="container text-left">
                <h5>
                    <span class="user-link">{{clickedMessage.user.nick}}</span>
                    <small>{{clickedMessage.sendDate | date:'shortTime'}}</small>

                </h5>
                <p>{{clickedMessage.content}}</p>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" required id="reportReason" [(ngModel)] = "reportReason" placeholder="powód" autofocus>
                <button (click)="onReportSubmit(clickedMessage,userReportModal)" class="animatedButton"><span>zgłoś</span></button>
            </div>
            <div *ngIf="modalError">
                <p>{{modalError}}</p>
            </div>
        </div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="closeModal(userReportModal)">zamknij</button>
    </modal-footer>
</modal>