<div *ngIf="myUser">
    <div class="well col-md-4 col-md-offset-4 text-center" *ngIf="myUser.userType === 'ANONYM'">
        <p>
            Aby ustawić dane swojego konta musisz utworzyć konto Panie Anonimie :)
        </p>
    </div>
    <div class="well col-md-6 col-md-offset-3 text-center" *ngIf="myUser.userType !== 'ANONYM'">

        <input type="text" class="form-control" required name="nick" id="nick" [(ngModel)] = "myUser.nick" placeholder="nick">
        <input type="text" class="form-control" name="status" id="status" [(ngModel)] = "myUser.status" placeholder="status">
        <input type="text" class="form-control" name="city" id="city" [(ngModel)] = "myUser.city" placeholder="miasto">
        <input type="date" class="form-control" name="brithday" id="birthday" [(ngModel)] = "myUser.birthday" placeholder="birthday date">
        <div class="row">
            <label class="radio-inline"><input type="radio" name="sex" [value]="0" [checked]="myUser.sex==0" disabled>Mężczyzna</label>
            <label class="radio-inline"><input type="radio" name="sex" [value]="1" [checked]="myUser.sex==1" disabled>Kobieta</label>
        </div>

        <input type="text" class="form-control" name="email" id="email" [(ngModel)] = "myUser.email" disabled>
        <a href="" (click)="goToChangePassword()">zmień hasło</a>
        <br>
        <div class="alert alert-danger" *ngIf="error">
            {{error}}
        </div>
        <span>
            <button (click)="onSubmit()" class="animatedButton"><span>zapisz</span></button>
            <button (click)="onCancel()" class="animatedButton"><span>anuluj</span></button>
        </span>
    </div>

</div>