<h1>Witaj na czacie</h1>

<p>Zaloguj się jako anonim aby czatować lub zarejestruj się aby zapisać swoje konto, móc dodawać znajomych oraz wiele więcej!</p>

<p>
    Autor: Dominik Króliczek<br>
    kontakt: dominik@kroliczek.com
    technologie:</p>

    <ul>
        <li>
            Angular 2 TypeScript
        </li>
        <li>
            PHP + MySQL - restfull api
        </li>
    </ul>


<p>Życie jest chatowe 2017</p>

<cookie-law></cookie-law>